.container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
}
  
.sidebar {
  width: 250px; 
  position: fixed;
  height: 100vh;
  background: #000000;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px; 
  padding: 20px;
  width: calc(100% - 250px);
}

.appbar {
  background-color: #272974;
  width: 100%;
}

.title {
  flex-grow: 1;
  color: white;
}


.event-list {
  margin-top: 20px;
  width: 100%;
}

.event-card {
  padding: 15px;
  text-align: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.event-date {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin: 5px 0;
}

.event-description {
  font-size: 0.9rem;
}

.dialog-title {
  font-weight: bold;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  margin-bottom: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-field {
  width: 300px; /* Set fixed width */
}

.search-button,
.add-event-button {
  height: 40px;
  border: 2px solid #272974; /* Blue border */
  color: #272974; /* Blue text */
  background: transparent; /* No background */
  transition: 0.3s;
}

.search-button:hover,
.add-event-button:hover {
  background: #272974;
  color: white;
}

.search-add-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0; /* Padding to separate from title */
}